.top{
    height: 40%;
    width: 100%;
    position: relative;
    box-sizing: border-box;   
    display: flex; 
}
.bottom{
    border-top: 1px solid #22222233; 
    height: 60%;
    width: 100%;
    position: relative;
    box-sizing: border-box;    
    display: flex; 
}
.bottom > div , .top >div{
    flex: 1;
    height: 100%;
    position: relative;
}
.bottom > div >div,.top > div >div {
    height: 44px;
    width: 80px;
    word-wrap: break-word;
    border: 1px solid #222;
    font-size: 14px;
    padding: 5px;
}
.left {
    border-right: 1px solid #22222233; 
}